@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #fffff7;
    color: #1c1c1c;
    text-align: center;
}

h1 {
    display: inline;
    font-style: italic;
    color: 1c1c1c; 
    font-size: xxx-large;
}

#logo {
    font-family: Cinzel, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

#logo_two { 
    font-family: Cinzel, Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

a {
    color: inherit;
}