@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Montserrat:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #fffff7;
    color: #1c1c1c;
    text-align: center;
    line-height: 2rem;
}

header {
    background-image: url('../images/drums.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 10%;
    border: 5px solid #fffff7;
}

p {
    padding: 5px 10% 10px;
}

header div a {
    color: inherit;
    text-decoration: none;
}

/* Heading Logo */
.title h1 {
    font-family: Cinzel, Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline;
    line-height: 300px;
    font-style: italic;
    font-size: xxx-large;
    text-transform: capitalize;
    color: #000000;
}

#studio {
    font-weight: 700;
}

#six {
    font-weight: 400;
}

.heading_box {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    background-color: rgba(255, 198, 248, 0.5);
}

/* Planned Navigation - not yet working*/
/*.nav_scrolling li {
    display: inline;
    width: 100%;
}

#about_nav_scrolling {
    left: -40%;
}


#rooms_nav_scrolling {
    left: -40%;

}

#equipment_nav_scrolling {
    left: -60%;
}

#bookings_nav_scrolling {
    left: -80%;
} */

/* Navigation */
.nav {
    margin-top: 5px;
    width: 100%;
    background-size: cover;
}

.nav li {
    text-align: center;
    text-shadow: 2px 2px rgba(28, 28, 28, .50);
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top:10%;
    font-weight: bolder;
    font-size: x-large;
    color: #fffff7;
    text-shadow: 2px 2px rgba(28, 28, 28, 1);
}

.nav li:hover {
    color: rgb(255, 198, 248);
}

#about_nav {
    float: left;
}

#rooms_nav {
    float: right;
}

#equipment_nav {
    float: left;
}

#bookings_nav {
    float: right;
}

/* who we are section */
.heading_one {
    background: rgba(233, 129, 172, 0.45);
    margin: 0 5px 0 5px;
    
}

.section_headings {
    font-family: Cinzel, Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    text-decoration: underline;
}

/* Studio and Rehearsal Rooms Section */
#rooms {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
}

#studio_heading {
    text-align: left;
    margin-left: 40px;
    padding-bottom: 5px;
}

#rehearsal_heading {
    text-align: right;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.rehearsal {
    background: rgba(233, 167, 129, 0.45);
    margin: 2px 5px 5px 5px;
}

/*Rooms Galery Images*/
.studio_images {
    clear:both;
    line-height: 1rem;
}

.studio_images img {
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 100%;
}

#equipment {
    background: rgba(250, 220, 89, 0.45);
    margin: 2px 5px 5px 5px;
}

#important_info {
    font-style: italic;
    font-size: small;
}

/*Booking Form*/
form {
    background-image: url('../images/studio_amp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: x-large;
    font-weight: 600;
    color:#fffff7;
    text-shadow: 2px 2px rgba(28, 28, 28, 1);
    
}

.contact {
    padding-top: 5%;
}

input[type=text], input[type=email] {
    text-align: center;
    margin: 30px;
    width: 80%;
    height: 2rem;
    max-width: 600px;
}

.inquiery {
    background-color: rgba(214, 168, 209, 0.55);
    margin: 0 10%; 
    padding-bottom: 20px;  
}

.inquiery h3 {
    padding: 20px;
}

.inquiery input {
    display: block;
    margin-left: 50%; 
}

.inquiery label:hover {
    color:limegreen;
}

#additional_information {
    height:300px;
    text-align: left;
}

#additional_information::placeholder{
    float: left;
    padding: 10px;
}

input[type=submit] {
    font-weight: 600;
    font-size: x-large;
    width: 75px;
    height: 50px;
    background-color:lightgray;
    border: 3px solid gray;
    margin-bottom: 5%;
}

input[type=submit]:hover {
    background-color:limegreen;
    border-color: mediumspringgreen;
}

/*Social Media*/
footer {
    background-color: #1c1c1c;
}

.social_media li {

    display: inline;
    font-size: xx-large;
    padding-left: 5%;
    

}

.social_media i {
    color: #fffff7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_media i:hover {
    color:rgb(233, 129, 172);
}

/*Responsive Design*/

/* For medium screen sizes from 400px wide and down */
@media screen and (min-width: 400px) {
    .nav li{
       
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (min-width: 900px) {
    .nav li{
        
    }

    .heading_one {
        max-width: 75%;
        display: inline-block;
        float: right;
    }

    .who_we_are_image {
        max-width: 15%;
        background-image: url('../images/headphones.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        float:left;
        margin: 0 5px 0 5px;
        
    }

    .heading_two {
        max-width: 75%;
        float: left;
    }

    .studio_band { 
        column-count: 2;
        max-width: 49%;
        margin:0 auto;
    }

    .rehearsal {
        max-width: 75%;
        display: inline-block;
        float: right;
    }

}    

/* For large screen sizes from 950px wide and down */
@media screen and (max-width: 1200px) {

}