@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Montserrat:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #fffff7;
    color: #1c1c1c;
    text-align: center;
    line-height: 2rem;
}

.main_header {
    background-image: url('../images/drums.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
    border: .5rem solid #fffff7;
}

.paragraphs {
    padding: 5px 10% 10px;
}

.main_header div a {
    color: inherit;
    text-decoration: none;
}

/* Heading Logo */
.title h1 {
    font-family: Cinzel, Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline;
    line-height: 300px;
    font-style: italic;
    font-size: 3rem;
    text-transform: capitalize;
    color: #000000;
}

#studio {
    font-weight: 700;
}

#six {
    font-weight: 400;
}

.heading_box {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    background-color: rgba(255, 198, 248, 0.5);
}

.nav {
    width: 100%;
    background-size: cover;
}

.nav_stick {
    position: sticky;
    top: 0px;
    background-color: #1c1c1c;
    margin-bottom: .5rem;
}

.nav li a {
    text-decoration: none;
    color: inherit;
}

.nav li {
    text-align: center;
    display: inline-block;
    padding-right: 15px;
    padding-bottom: .25rem;
    font-weight: bolder;
    color: #fffff7;
    font-size: 1rem;
    z-index: 10;
}

.nav li:hover {
    color: #ffc6f8;
}

#about_nav {
    float: left;
}

#rooms_nav {
    float: right;
}

#equipment_nav {
    float: left;
}

#bookings_nav {
    float: right;
}

/* who we are section */
.heading_one {
    background: rgba(233, 129, 172, 0.45);
    margin: 0 .5rem;

}

.section_headings {
    font-family: Cinzel, Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    text-decoration: underline;
}

/* Studio and Rehearsal Rooms Section */
#rooms {
    margin-top: 10px;
    padding-bottom: 10px;
}

#studio_heading {
    padding-bottom: 5px;
}

#rehearsal_heading {
    padding-top: 10px;
    padding-bottom: 5px;
}

.rehearsal {
    background: rgba(233, 167, 129, 0.45);
    margin: 0 .5rem ;
}

/*Rooms Galery Images*/

.studio_images img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#bassist {
    margin-top: .5rem;
}

#equipment {
    background: rgba(165, 74, 226, 0.45);
    margin: -.8rem .5rem .5rem;
}

.important_info {
    font-style: italic;
    font-size: small;
}

.hidden_quote {
    display: none;
}

/*Booking Form*/
form {
    background-image: url('../images/studio_amp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: x-large;
    font-weight: 600;
    color: #fffff7;
    text-shadow: 2px 2px rgba(28, 28, 28, 1);
    padding-bottom: 1rem;

}

.contact {
    width: 80%;
    padding-top: 5%;
    max-width: 600px;
    margin: 0 auto;
}

input[type=text],
input[type=email] {
    text-align: center;
    margin: 2rem;
    width: 80%;
    height: 2rem;
    max-width: 600px;
}

.inquiery {
    background-color: rgba(219, 183, 215, 0.671);
    margin: 0 10%;
    padding-bottom: 20px;
    max-width: 600px;
}

.inquiery h3 {
    padding: 20px;
}

.inquiery input {
    display: block;
    margin-left: 50%;
}

.inquiery label:hover {
    color: #2DBA49;
}

#additional_information {
    margin-top: 2rem;
    height: 200px;
    width: 70%;
    max-width: 600px;
}

#additional_information::placeholder {
    float: left;
    padding: 10px;
}

input[type=submit] {
    font-weight: 600;
    font-size: x-large;
    width: 75px;
    height: 50px;
    background-color: #CDCDCD;
    border: 3px solid #808080;
    display: block;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-color: #2DBA49;
    border-color: #1BFD94;
}

/*Social Media*/
footer {
    background-color: #1c1c1c;
}

.social_media li {

    display: inline;
    font-size: 3rem;
    padding-left: 5%;
}

.social_media i {
    color: #fffff7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_media i:hover {
    color: rgb(233, 129, 172);
}

/*Responsive Design*/

/* For medium screen sizes from 600px wide and down */
@media screen and (min-width: 600px) {
    .nav li {
        font-size: 1.5rem;
    }
}

/* For medium screen sizes from 750px wide and down */
@media screen and (min-width: 750px) {

    .main_header {
        padding-top: 12%;
        padding-bottom: 18%;
        border: 5px solid #fffff7;
    }

    .studio_pictures_resize {
        column-count: 2;
        max-width: 49%;
        margin: 0 auto;
        border: none;
    }

    .rehearsal_pictures_resize {
        width: 49%;
        height: 100%;
        display: inline-block;
    }

    .rehearsal_pictures_resize img {
        width: 100%;
    }

    .rehearsal_pictures_resize_large {
        width: 49%;
        display: inline-block;
    }

    .rehearsal_pictures_resize_large img {
        width: 100%;
    }

    .inquiery {
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }

    .hidden_quote {
        display: block;
        background-color:rgba(233, 129, 172, 0.45);
    }

    .hidden_quote p {
        font-size: .5rem;
    }
}

/* For medium screen sizes from 900px wide and down */
@media screen and (min-width: 900px) {
    .hidden_quote p {
        font-size: .75rem;
}
}